.currentWeatherCardMainDescription {
  font-size: smaller;
  font-style: italic;
  text-align: right;
}

.headerWeatherCardDeleteButton {
  margin: 3px;
  padding: 2px;
  min-width: 'fit-content';
  color: rgb(0, 10, 43);
}