.buttonsGroup > button {
  width: 40%;
}
.buttonsGroup {
  display: flex;
  justify-content: space-between;
}

.usersButton {
  width: fit-content;
  text-transform: capitalize !important;
  min-width: 100px;
  margin: 13px 0px 2px 0px !important;
}